@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: linear-gradient(45deg, rgb(202, 189, 207) 27%, rgb(131, 211, 213) 74%);
    user-select: none;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: 3px solid #000000;
    padding: 5px;
    margin-top: 5px;
    transition: 0.5s;
}

.btn:hover {
    box-shadow: 0 0 10px #000000;
    transform: scale(1.1);
}

.indicator-hearts {
    margin: 5px 0;
}

.game {
    margin: auto 0;
    background-color: #c8c8c8a9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 7px;
    border: 3px solid rgb(26, 55, 80);
    border-radius: 5px;
}

.actions {
    background-color: bisque;
    user-select: none;
    width: 90%;
    padding: 7px;
    border: 3px solid rgb(26, 55, 80);
    border-radius: 5px;
}
.happy-bar{
    display: flex;
    background-color: #000000;
    height: 51%;
    margin: 0 8px;
    border-radius: 5px;
}
.bar {
    width: 8px;
    height: 0%;
    margin-top: auto;
    border-radius: 5px;
    background: red;
}

.cat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    position: relative;
    background: url(res1.png);
    background-size: 300px 75px;
    width: 75px;
    height: 75px;
    animation: steps 20s linear infinite;
}

@keyframes steps {
    0% {
        transform: translateX(-20vw);
    }
    50% {
        transform: translateX(20vw);
    }
    51% {
        transform: translateX(20vw) scale(-1, 1);
    }
    100%{
        transform: translateX(-20vw) scale(-1, 1);
    }
   
}


.point{
    animation: points 0.5s linear;
}

.content span {
    user-select: none;
    position: relative;
    top: -60%;
    color: #fff;
}
@keyframes points {
    0%{transform: none;}
    10%{transform: translateY(-10%); opacity: 1;}
    100%{transform: translateY(-300%); opacity: 0;}}